<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin Display</h1>
<table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>name</th>
                      <th>mobile</th>
                      <th>email</th>
                       <th>username</th>
                        <th>password</th>

                    </tr>
                  </thead>
                    {% for i in data %}
                     <tr>
                         <td>{{i.name}}</td>
                         <td>{{i.mobile}}</td>
                         <td>{{i.email}}</td>
                         <td>{{i.username}}</td>
                         <td>{{i.password}}</td>

                         <td>
                                <form action ="{% url 'editpage' dataid=i.id %}">
                                     <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                         </td>
                         <td>
                                <form action="{% url 'deletedata' dataid=i.id %}">
                                      <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                         </td>
                     </tr>
                     {% endfor %}
<!--                  <tbody>-->
<!--                    <tr>-->
<!--                      <td>183</td>-->
<!--                      <td>John Doe</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-success">Approved</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>219</td>-->
<!--                      <td>Alexander Pierce</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-warning">Pending</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>657</td>-->
<!--                      <td>Bob Doe</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-primary">Approved</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>175</td>-->
<!--                      <td>Mike Doe</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-danger">Denied</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
<!--                  </tbody>-->
</table>

</body>
</html>
{% endblock content %}
