{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'updateprodata' dataid=data.id %}" enctype="multipart/form-data">
         {% csrf_token %}
 <center><h1>Product</h1></center>
             <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Product Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body" >
                     <div class="form-group">
                    <label for="exampleInputName">name</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="name" name="name" value="{{data.name}}">
                  </div>
<!--                     <div class="form-group">-->
<!--                    <label for="exampleInputName1">price</label>-->
<!--                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Price" name="price" value="{{data.price}}>-->
<!--                  </div>-->
                     <div class="form-group">
                    <label for="exampleInputName">name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Price" name="price" value="{{data.price}}">
                  </div>
                     <div class=" form-group">
                    <label for="exampleInputName4">quantity</label>
                    <input type="text" class="form-control" id="exampleInputName4" placeholder="quantity" name="quantity" value="{{data.quantity}}">
                  </div>


                        <div class="form-group">
                    <label for="exampleInputName3">description</label>
                    <input type="text" class="form-control" id="exampleInputName3" placeholder="description" name="description" value="{{data.description}}">
                  </div>


                       <div class="form-group">
                           <label for="exampleInputName2">category</label>
                           <input type="text" class="form-control" id="exampleInputName2" placeholder="category" name="category" value="{{data.category}}">



                         <select name="ct" class="form-control">
                            <option>{{data.category}}</option>
                             {% for i in da %}
                                <option>{{i.name}}</option>
                             {% endfor %}
                         </select>
                        <span class="form-bar"></span>
                     </div>

                      <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile" name="image" value="{{data.image}}">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>

                </div>


                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">submit</button>
                </div>
              </form>
            </div>
</form>
</body>
</html>
{% endblock %}